---
name: check
on:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Run flake checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DeterminateSystems/nix-installer-action@v21

      # Disabled: GitHub-only cache, not available locally
      # - uses: DeterminateSystems/magic-nix-cache-action@v31
      #   with:
      #     use-flakehub: false

      - uses: cachix/cachix-action@v15
        with:
          name: klowdo
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'

      - run: nix flake check -L
